{% extends 'base.html' %}

{% block title %}
About us
{% endblock %}

{% block body %}
<h1>How everything started</h1><br>
<h4>blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

    blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla</h4>
{% endblock %}